/*************************/
/* CSS Reset *************/
/*************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*************************/
/*************************/
/*************************/

body {
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.border {
  border: 5px solid black;
}

.container {
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1/1;
}

.container div {
  aspect-ratio: 1/1;
  border: 1px solid #eee;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.resize-canvas-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-block: 1rem;
  cursor: pointer;
}
